@font-face {
    font-family: Gantari-Light;
    src: url('/fonts/Gantari-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Gantari-Regular;
    src: url('/fonts/Gantari-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gantari-Italic;
    src: url('/fonts/Gantari-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Gantari-Medium;
    src: url('/fonts/Gantari-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Gantari-SemiBold;
    src: url('/fonts/Gantari-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Gantari-Bold;
    src: url('/fonts/Gantari-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Gantari-Black;
    src: url('/fonts/Gantari-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: Quantum;
    src: url('/fonts/Quantum.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
