@import 'tailwindcss';
@import './fonts.css';
@import './mixins.css';

@theme {
    --font-AVZLight: "Gantari-Light";
    --font-AVZReg: "Gantari-Regular";
    --font-AVZIta: "Gantari-Italic";
    --font-AVZMed: "Gantari-Medium";
    --font-AVZSeb: "Gantari-SemiBold";
    --font-AVZBol: "Gantari-Bold";
    --font-AVZBla: "Gantari-Black";
    --font-AVZMai: "Quantum";
    --color-AVZBla: #2b2b2b;
    --color-AVZRed: #990404;
    --color-AVZTea: #006D77;
    --color-AVZGre:	#9e9e8f;
    --color-AVZWhi: #f5f5f0;
    --color-AVZSh1: #595959;
    --color-AVZSh2: #828282;
    --color-AVZSh3: #ABABAB;
    --color-AVZSh4: #5E5E5E;
    --color-AVZSh5: #d4d4d4;
    --color-AVZSh6: #6e6e6e;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
